.shooter {
    background-color: blue;
}

.grid {
    width: 400px;
    height: 400px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: chartreuse;
}

.invader {
    background-color: blue;
    border-radius: 50%;
}

.laser {
    background-color: orange;
}

.boom {
    background-color: red;
    
}